.HomeTitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.HomeAuthenticate {
  font-size: 16px;
  margin-bottom: 20px;
}

.UserHeader {
  padding: 10px;
  background-color: lavender;
  font-size: 14px;
  margin-bottom: 10px;
}
